
.lateralBox{
    font-size: 30px;
    margin-top:30px;
    margin-left: 20px;
    position: absolute;
    height: 500px;
}
#Ah4{
    margin-left: 10px;
    font-size: 035px;
    margin-bottom: -40px;
}
#Ah1{
    margin-left: 10px;
    font-size: 90px;
    margin-bottom: 0px;
}

.textBloc{

    margin-top: 30px;
    color: aliceblue;
    font-size: 20px;
    width: 100%;
}

#pictr{
    margin-left: 30px; 
    top: 30px; 
    position: relative; 
    border-radius: 50%;
    width: 230px;
    height: 230px;
}

#test{
    width: 100%; margin-left: 0%;
}
#tituluzinho{
    font-size: 15px;
    margin-bottom: -1px;
}

#news{
    margin-left: 30%;
    margin-right: 30%;
    width: 40%;
    border-radius: 15px;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: aliceblue;
    font-size: 20px;
}
.links{
    width: 40px;
    height: 40px;
}

.title{
    font-size: 50px;
}