#news{
    margin-left: 30%;
    margin-right: 30%;
    width: 40%;
    border-radius: 15px;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: aliceblue;
    font-size: 40px;
}

button{
    background-color: transparent;
    border-color: transparent;
}


#but{
    margin-left: 30px;
    height: 60px;
    width: 60px;
}

#but:hover{
    transform:rotate(-180deg);
    transition: all 1s;
}

.textBloc{
    margin-top: 20px;
    color: aliceblue;
    font-size: 40px;
    width: 100%;
}

.titl{
    margin-left: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#pictr{
    margin-left: 30px; 
    top: 30px; 
    position: relative; 
    border-radius: 50%;
}